table{
    width: 95%;
    --bs-table-striped-bg: #181C2C;
    --bs-table-striped-color: white;

    --bs-table-bg: #32374C;
    --bs-table-color: white;

}

.table-group-divider {
    border-top: calc(var(--bs-border-width)* 3) solid white;
}
