<div class="container">

    <div *ngIf="show" class="alert-container pt-5">
        <ngb-alert [dismissible]="true" [animation]="true" class="alert-right">
            <strong>Warning!</strong> Los vehículos no se pueden borrar porque están alquilados o han sido alquilados.
        </ngb-alert>
    </div>

    <div class="d-flex justify-content-between">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" (click)="goBack()" fill="white"
            class="bi bi-box-arrow-left mt-4 arrow-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd"
                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
        </svg>

        <div>
            <button type=" button" class="btn btn-warning mt-4 me-5 text-center"
                (click)="openBackDropCustomClass(content)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
                Editar Modelo
            </button>

            <button type=" button" class="btn btn-danger mt-4 text-center"
                (click)="openBackDropCustomClass(deleteModal)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-x-circle text-center" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
                Borrar
            </button>
        </div>
    </div>

    <app-card-vehiculos [modeloId]="idModelo"></app-card-vehiculos>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Editar Modelo</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form class="form">
                <div class="">
                    <label for="validationDefault01" class="form-label">Nombre del modelo: <span>*</span></label>
                    <input type="text" class="form-control" id="validationDefault01" [(ngModel)]="modeloEditado.modelo"
                        name="modelo">
                </div>
                <div class="pt-2">
                    <label for="validationDefault02" class="form-label">Imagen del logo: <span>*</span></label>
                    <button class="file-upload-btn" type="button">
                        <input class="file-upload-input-btn" type='file' (change)="onFileChange($event)" />Añadir Imagen</button>
                </div>
                    <div class="pt-2 d-flex justify-content-center">
                        @if (logoSelected == null) {
                            <img src="{{logo}}" alt="" width="60%">
                        } @else {
                            <img [src]="logoSelected" *ngIf="logoSelected" alt="Imagen seleccionada" style="max-width: 100%;">
                        }
                    </div>

                    <!-- <div class="pt-2 col-md-6">
                        @if (logoSelected != null) {
                            <div class="file-upload">
                                <button class="file-upload-btn">
                                   Imagen Seleccionada</button>
                    
                                <div class="image-upload-wrap">
                                    <div class="drag-text">
                                        <img [src]="logoSelected" *ngIf="logoSelected" alt="Imagen seleccionada" style="max-width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="ps-3">
                                <button type="button" class="remove-image">Borrar imagen seleccionada</button>
                            </div>
                        }
                    </div> -->
                <div class="pt-3">
                    <button class="btn btn-success" type="submit"
                        (click)="editar(); modal.close('Close click')">Enviar</button>
                </div>
            </form>
        </div>
    </ng-template>>

    <ng-template #deleteModal let-modal>
        <div class="modal-delete">
            @if (totalVehiculos == 0) {
            <div class="modal-header">
                <h4 class="modal-title">Borrar Modelo</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <h6>¿Estás seguro de que quieres borrar este modelo?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="delete(idModelo)">Aceptar</button>
            </div>
            } @else {
            <div class="modal-header">
                <h4 class="modal-title">Borrar lista</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <h6>¿Estás seguro de que quieres borrar todos los vehiculos?</h6>
                <p>*Antes de borrar un modelo hay que borrar todos los vehiculos*</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="clear(idModelo)">Borrar lista</button>
            </div>
            }
        </div>
    </ng-template>
</div>