nav{
    background-color: #283567;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.logo{
    width: 100px;
    padding-left: 10px;
}

h4{
    font-family: 'ultimate', sans-serif;
    font-size: 40px;
}

a{
    color: rgb(210, 192, 192);
    font-family: 'ultimate', sans-serif;
    font-size: 25px;
}

a:hover {
    color: rgb(133, 130, 130);
}

.nav-underline .nav-link.active{
    --bs-nav-underline-link-active-color: #e1e1e1;
}

.navbarStile .nav-item {
    display: flex;
    align-items: center;
}

.navbarStile .nav-item img {
    width: 60px; 
    height: auto;
}

.navbarStile .nav-item h4 {
    margin: 0;
    padding-left: 15px;
    color: #e1e1e1;
}




