<nav class="navbar navbar-expand-lg navbarStile sticky-top container-fluid text-white">
    <div class="collapse navbar-collapse d-flex justify-content-between navbar-nav" id="navbarNav">
        <div class="nav-item">
            <a class="nav-link active" [routerLink]="['/']" aria-current="page" [routerLinkActive]="['active']">
                <img src="">
            </a>
        </div>
        <div class="nav-item d-flex justitfy-content-center">
            <a [routerLink]="['']" class="nav-link">COCHES</a>
            <a [routerLink]="['']" class="nav-link">MODELOS</a>
            <a [routerLink]="['']" class="nav-link">ALQUILERES</a>
            <a [routerLink]="['']" class="nav-link">USUARIOS</a>
        </div>
    </div>
</nav>