.table {
    --bs-table-bg: #a4c2ec;
    --bs-table-accent-bg: #78a2e2;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(95 150 209);
}

.avatar-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
    height: auto;
    display: block;
}

.modal-body ul {
    list-style-type: none;
    padding: 0;
}

.modal-body ul li {
    margin-bottom: 10px;
}

.modal-body ul li strong {
    margin-right: 5px;
}

.vehicle-image {
    max-width: 300px;
    max-height: 200px;
}

::ng-deep .modal-content{
    background-color: #b0e4ff;
}
