<div class="container">
  <button type="button" class="btn btn-outline-light mt-4" (click)="openBackDropCustomClass(content)"> <svg
      xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg pb-1"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
    </svg>
    Añadir</button>
  <app-card-modelos-list></app-card-modelos-list>

  <div class="loading" *ngIf="loading">
    <app-loading></app-loading>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Crear Modelo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="form">
      <div class="">
        <label for="validationDefault01" class="form-label">Nombre del modelo: <span>*</span></label>
        <input type="text" class="form-control" id="validationDefault01" [(ngModel)]="modeloCreate.modelo" name="modelo"
          required>
        <span class="error" *ngIf="modeloError">{{modeloError}}</span>
      </div>
      <div class="pt-2">
        <label for="validationDefault02" class="form-label">Imagen del logo: <span>*</span></label>
        <div class="file-upload">

          <input type="file" id="file" (change)="onFileChange($event)" required>

          @if (logoSrc != null) {
          <div class="image-upload-wrap">
            <div class="drag-text">
              <img [src]="logoSrc" *ngIf="logoSrc" alt="Imagen seleccionada" class="img-thumbnail mt-2">
            </div>
          </div>
          }
        </div>
        <span class="error" *ngIf="logoError">{{logoError}}</span>
      </div>
      <div class="pt-3">
        <button class="btn btn-primary" type="submit" (click)="crear();">Enviar</button>
      </div>
    </form>
  </div>
</ng-template>