<div class="row mt-4">
    <div class="col">
        <div class="row">
            @for (m of modelosList; track m.modelo; let i = $index) {
            <div class="col-md-4 mb-4">
                <button type="button" class="card" style="width: 15rem;" (click)="modelo(m.id)">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                       {{m.cantVehiculos}}
                    </span>
                    <img src="assets/img/logo_toyota.png" class="card-img-top" alt="...">
                    <!-- <img [src]="m.logo" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h4 class="text-center">{{m.modelo}}</h4>
                    </div>
                </button>
            </div>
            }
        </div>
    </div>
</div>


<ngb-pagination [collectionSize]="totalModelos" [pageSize]="modelosPorPagina" [maxSize]="5" [(page)]="pagina"
    aria-label="Default pagination" class="d-flex justify-content-center mt-5"
    (pageChange)="loadPage()"></ngb-pagination>