<div class="container mt-5">

    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" (click)="goBack()" fill="white"
        class="bi bi-box-arrow-left mt-4 arrow-icon" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
        <path fill-rule="evenodd"
            d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
    </svg>

    <div *ngIf="showErrorEdit" class="alert-container pt-5">
        <ngb-alert [dismissible]="true" [animation]="true" class="alert-right">
            <strong>Warning!</strong> Error al editar el vehiculo (posiblemente sea porque tienes que elegir una imagen nueva).
        </ngb-alert>
    </div>

    <form class="form needs-validation pt-5" novalidate>
       <div class="row">
        <div class="col-md-6">
            <div class="file-upload">
                <button class="file-upload-btn" type="button">
                    <input class="file-upload-input-btn" type='file' (change)="onFileChange($event)" />Añadir Imagen</button>
    
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' (change)="onFileChange($event)" />
                    <div class="drag-text">
                        <img src="{{imagen}}" alt="" style="max-width: 552px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @if (imagenSelected != null) {
                <div class="file-upload">
                    <button class="file-upload-btn">
                       Imagen Seleccionada</button>
        
                    <div class="image-upload-wrap">
                        <div class="drag-text">
                            <img [src]="imagenSelected" *ngIf="imagenSelected" alt="Imagen seleccionada" style="max-width: 100%;">
                        </div>
                    </div>
                </div>
                <div class="ps-3">
                    <button type="button" (click)="removeImgSelected()" class="remove-image">Borrar imagen seleccionada</button>
                </div>
            }
        </div>
       </div>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="validationDefault01" class="text-white">Transmisión: </label>
                    <select id="validationDefault01" name="transmision" class="form-select"
                        [(ngModel)]="vehiculoEditado.transmision" required>
                        <option value="" selected>Seleccione una opcion</option>
                        <option value="Manual">MANUAL</option>
                        <option value="Automatico">AUTOMATICO</option>
                    </select>
                    <span class="error" *ngIf="transmisionError">{{transmisionError}}</span>
                </div>

                <div class="form-group">
                    <label for="combustion" class="text-white">Combustión: </label>
                    <select id="combustion" name="combustion" class="form-select"
                        [(ngModel)]="vehiculoEditado.combustion" required>
                        <option value="" selected>Seleccione una opcion</option>
                        <option value="Electrico">ELECTRICO</option>
                        <option value="Hibrido">HIBRIDO</option>
                        <option value="Gasolina">GASOLINA</option>
                        <option value="Diesel">DIESEL</option>
                    </select>
                    <span class="error" *ngIf="combustionError">{{combustionError}}</span>
                </div>
            </div>

            <div class="col-md-6">
                
                <div class="form-group">
                    <label for="capacidadPasajeros" class="text-white">Capacidad Pasajeros: </label>
                    <input type="number" name="capacidadPasajeros" id="capacidadPasajeros" min="2" max="10" step="1"
                        class="form-control" [(ngModel)]="vehiculoEditado.capacidadPasajeros" required />
                    <span class="error" *ngIf="capacidadPasajerosError">{{capacidadPasajerosError}}</span>

                </div>

                <div class="form-group">
                    <label for="potencia" class="text-white">Potencia (Kw): </label>
                    <input type="number" name="potencia" id="potencia" min="90" max="300" step="5" class="form-control"
                        [(ngModel)]="vehiculoEditado.potencia" required />
                    <span class="error" *ngIf="potenciaError">{{potenciaError}}</span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado" class="text-white">Estado: </label>
                    <select id="estado" name="estado" class="form-select" [(ngModel)]="vehiculoEditado.estado" required>
                        <option value="" selected>Seleccione una opcion</option>
                        <option value="Nuevo">NUEVO</option>
                        <option value="Seminuevo">SEMINUEVO</option>
                    </select>
                    <span class="error" *ngIf="estadoError">{{estadoError}}</span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="numPuertas" class="text-white">Puertas: </label>
                    <input type="number" name="numPuertas" id="numPuertas" min="2" max="5" step="1" class="form-control"
                        [(ngModel)]="vehiculoEditado.numPuertas" required />
                    <span class="error" *ngIf="numPuertasError">{{numPuertasError}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="precioBase" class="text-white">Precio Base (€): </label>
                    <input type="number" name="precioBase" id="precioBase" min="80" max="300" step="10"
                        class="form-control" [(ngModel)]="vehiculoEditado.precioBase" required />
                    <span class="error" *ngIf="precioBaseError">{{precioBaseError}}</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modelo" class="text-white">Modelo: </label>
                    <select id="modelo" name="modelo" class="form-select" [(ngModel)]="vehiculoEditado.modelo" disabled>
                        <option [value]="">{{vehiculoEditado.modelo}}</option>
                    </select>
                    <span class="error" *ngIf="modeloError">{{modeloError}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="autonomia" class="text-white">Autonomía (Km): </label>
                    <input type="number" name="autonomia" id="autonomia" min="10000" max="30000" step="500"
                        class="form-control" [(ngModel)]="vehiculoEditado.autonomia" required />
                    <span class="error" *ngIf="autonomiaError">{{autonomiaError}}</span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3" (click)="editVehiculo()">Enviar</button>
    </form>

    <div class="loading" *ngIf="loading">
        <app-loading ></app-loading>     
     </div>
</div>