<div class="container mt-5">
    <form class="form needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="imagen" class="text-white">URL Imagen:</label>
                    <input type="url" id="imagen" name="imagen" class="form-control"
                        [(ngModel)] = "imagen">
                    <!-- <span class="error" *ngIf="imagenError">{{imagenError}}</span> -->
                </div>
                <div class="form-group">
                    <label for="validationDefault01" class="text-white">Transmisión: *</label>
                    <select id="validationDefault01" name="transmision" class="form-select" [(ngModel)] = "transmision"
                        required>
                        <option value="" selected>Seleccione una opcion</option>
                        <option value="Manual">MANUAL</option>
                        <option value="Automatico">AUTOMATICO</option>
                    </select>
                    <!-- <span class="error" *ngIf="transmisionError">{{transmisionError}}</span> -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="combustion" class="text-white">Combustión: *</label>
                    <select id="combustion" name="combustion" class="form-select" [(ngModel)] = "combustion" required>
                        <option value="" selected>Seleccione una opcion</option>
                        <option value="Electrico">ELECTRICO</option>
                        <option value="Hibrido">HIBRIDO</option>
                        <option value="Gasolina">GASOLINA</option>
                        <option value="Diesel">DIESEL</option>
                    </select>
                    <!-- <span class="error" *ngIf="combustionError">{{combustionError}}</span> -->
                </div>
                <div class="form-group">
                    <label for="capacidadPasajeros" class="text-white">Capacidad Pasajeros: *</label>
                    <input type="number" name="capacidadPasajeros" id="capacidadPasajeros" min="2" max="10" step="1"
                        class="form-control" [(ngModel)] = "capacidadPasajeros" required />
                    <!-- <span class="error" *ngIf="capacidadPasajerosError">{{capacidadPasajerosError}}</span> -->

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="autonomia" class="text-white">Autonomía (Km): *</label>
                    <input type="number" name="autonomia" id="autonomia" min="10000" max="30000" step="500"
                        class="form-control" [(ngModel)] = "autonomia" required />
                    <!-- <span class="error" *ngIf="autonomiaError">{{autonomiaError}}</span> -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="potencia" class="text-white">Potencia (Kw): *</label>
                    <input type="number" name="potencia" id="potencia" min="90" max="300" step="5" class="form-control"
                    [(ngModel)] = "potencia" required />
                    <!-- <span class="error" *ngIf="potenciaError">{{potenciaError}}</span> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado" class="text-white">Estado: *</label>
                    <select id="estado" name="estado" class="form-select" [(ngModel)] = "estado" required>
                        <option value="" selected>Seleccione una opcion</option>
                        <option value="Nuevo">NUEVO</option>
                        <option value="Seminuevo">SEMINUEVO</option>
                    </select>
                    <!-- <span class="error" *ngIf="estadoError">{{estadoError}}</span> -->
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="numPuertas" class="text-white">Puertas: *</label>
                    <input type="number" name="numPuertas" id="numPuertas" min="2" max="5" step="1" class="form-control"
                    [(ngModel)] = "numPuertas" required />
                    <!-- <span class="error" *ngIf="numPuertasError">{{numPuertasError}}</span> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="precioBase" class="text-white">Precio Base (€): *</label>
                    <input type="number" name="precioBase" id="precioBase" min="120" max="300" step="10"
                        class="form-control" [(ngModel)] = "precioBase" required />
                    <!-- <span class="error" *ngIf="precioBaseError">{{precioBaseError}}</span> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modelo" class="text-white">Modelo: </label>
                    <select id="modelo" name="modelo" class="form-select" [(ngModel)]="modelo" disabled>
                        <option [value]="">{{modelo}}</option>
                    </select>
                    <!-- <span class="error" *ngIf="modeloError">{{modeloError}}</span> -->
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="editVehiculo()">Enviar</button>
    </form>
</div>
